<div class="container">
  <h1 class="pt-3">Here's your answer</h1>

  <h5 class="pt-3">Q: <%= @question %></h5>

  <h5 class="pt-3">A: <%= @answer %></h5>

  <p class="pt-3"><%= link_to "Ask me again", root_path %></p>

</div>
